{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Modal for upload-->
    <!-- TO DO: replace button with "upload icon" like + from fontawesome -->
    <!-- TO DO: Make checkbox pretty -->
    Hello {{ current_user }}!
    You belong in the following groups!
    {% for membership in memberships %}
        {{ membership.group }}
    {% endfor memberships %}
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#photo_upload">
                  Upload a photo!
                </button>
                <div class="modal fade" id="photo_upload" tabindex="-1" role="dialog" aria-labelledby="photo_uploadLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.photo }}
                            {{ form.caption }}
                            {{ form.is_public }} - <label>is this public?</label>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Upload!</button>
                        </div>
                        </form>
                    </div>
                  </div>
                </div>
        </div>
<!-- <br> -->
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <!-- Hello {{ current_user.username }}! You're in group {{ current_user.group.name }} -->
                {% for photo in photos %}
                    <div class="card mt-3 mx-auto" style="width: 400px;">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted">
                                <row>
                                    by {{ photo.published_by }} {{ photo.published_on|date:"b n h:i A" }}
                                </row>
                            </h6>
                            <!-- <h6 class="card-subtitle text-muted">by {{ photo.published_by }} {{ photo.published_on|date:"D, d M, Y" }}</h6> -->
                            
                        </div>
                        <img class="card-img-top" src="{{ photo.photo.url }}">
                        <div class="card-body">
                            <p class="card-title">{{ photo.caption }}</p>
                        </div>                        
                    </div>
                    
                {% endfor photos %}
            </div>
        </div>
    </div>

{% endblock %}