body, html {
    height: 100%;
}

body {  
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid grey;
}

img {
  display: block;
  max-width: 100%;
  height: 400px;
  width: 400px;
}